<%- include("./partials/cabecalho"); %>

<section class="header-main text-white p-2">
    <h1 id="guia-perguntas" class="title fs-2">Seja bem-vindo ao Perguntar <span class="detalhe detalhe-sm"></span></h1>
</section>
<section class="border p-2 mt-4">
    <h4>Como funciona?</h4>
    <ul class="list-group">
        <li class="list-group-item">Faça uma pergunta;</li>
        <li class="list-group-item">A pergunta será analisada pelos nossos moderadores;</li>
        <li class="list-group-item">Se a pergunta não conter nenhum contéudo impróprio ela será respondida e aparecerá na seção de perguntas feitas.</li>
        <li class="list-group-item">
            <a href="/perguntar" class="btn btn-primary">Fazer pergunta</a>
        </li>
    </ul>
</section>

<%- include('./partials/rodape'); %>